.calendar{
    border-style: solid;
}
body{
    text-align: center;
}
td{
    padding: 30px;
    border-style:solid;
    background-color: #c300ff 0;
}
td,th,table{
    border-collapse: collapse;
}table,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
}
.domingo{
    color: red;
}
.azul {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: LightBlue
}
 
.verde {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: PaleGreen
}
.rosa{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color:LightPink
}
.roxo{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color:SlateBlue
}

.calendar{
    align-items: center;
    margin-left: 350px;
}